@tailwind base;
@tailwind components;
@tailwind utilities;


.slidingVertical span {
  animation: topToBottom 5s linear infinite 0s;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}
.slidingVertical span:nth-child(2) {
  animation-delay: 1.5s;
}
.slidingVertical span:nth-child(3) {
  animation-delay: 3.5s;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  30% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
